@import "tailwindcss";



@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


::-webkit-scrollbar{
    display: none;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}


/* Horizontal scroll container */
.scrollable-horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

/* Custom ultra-thin horizontal scrollbar */
.scrollable-horizontal::-webkit-scrollbar {
  height: 4px; /* very thin */
}

.scrollable-horizontal::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 1.5px;
}

.scrollable-horizontal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1.5px;
}

.scrollable-horizontal::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox thin scrollbar */
.scrollable-horizontal {
  scrollbar-width: thin; /* very thin */
  scrollbar-color: #888 #f0f0f0;
}


/* contact form animation  */
@property --a {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.gradient-shadow {
  position: relative;
  filter: url(#glow);
}

.gradient-shadow::before {
  content: '';
  position: absolute;
  inset: 2px;
  /* background: #202020; */
  background: #1F2937;

  border-radius: inherit;
  z-index: 1;
}

.gradient-shadow::after {
  content: '';
  position: absolute;
  inset: -5px;
  background: 
    repeating-conic-gradient(from var(--a, 0deg), 
            rgba(250, 56, 35, 0.4) 0% 25%, 
            transparent 25% 50%, 
            rgba(27, 31, 228, 0.4) 50% 75%, 
            transparent 75% 100%);
  border-radius: inherit;
  z-index: -1;
  filter: blur(15px);
  animation: rotateGradient 6s linear infinite;
}

.gradient-shadow > * {
  position: relative;
  z-index: 2;
}

@keyframes rotateGradient { 
  to { --a: 360deg; } 
}